#orange-rectangle{
    width:10px;
    height:10px;
    background:#ff8c00;
}

#purple-rectangle{
    width:10px;
    height:10px;
    background:#7b6888;
}

#red-rectangle{
    width:10px;
    height:10px;
    background:#a05d56;
}